<div class="container" style="margin-top:50px ;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">Email Id</th>
        <th scope="col">Subscription Status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let user of userList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{user.fullName}}</td>
        <td>{{user.emailId}}</td>
        <td> <button type="submit" (click)="revokeSubscription(user.id)" class=" btn btn-outline-danger">Revoke Subscription</button></td>
      </tr>
    </tbody>
  </table>
</div>